{{>en/titlePanel}}
{{>en/messages}}
<section id="forms-background" class="forms-background" style="display: none;">
    <section class="forms-background-grup">
        <section id="form-editName-device" style="display: none;">
            <form action="/en/panel/control/changeNameOption?iddevice={{iddevice}}&key=device" method="POST">
                <h1>Change name device</h1>
                <input type="text" name="valueField" placeholder="set name" value="{{deviceOptions.0.namedevice}}">
                <button type="submit">Send</button>
            </form>
        </section>
        <section id="form-editNameOption-a" style="display: none;">
            <form action="/en/panel/control/changeNameOption?iddevice={{iddevice}}&key=oa" method="POST">
                <h1>Change name to 'OptionA'</h1>
                <input type="text" name="valueField" placeholder="set name" value="{{deviceOptions.0.optionA_tag}}">
                <button type="submit">Send</button>
            </form>
        </section>
        <section id="form-editNameOption-b" style="display: none;">
            <form action="/en/panel/control/changeNameOption?iddevice={{iddevice}}&key=ob" method="POST">
                <h1>Change name to 'OptionB'</h1>
                <input type="text" name="valueField" placeholder="set name" value="{{deviceOptions.0.optionB_tag}}">
                <button type="submit">Send</button>
            </form>
        </section>
        <section id="form-editNameOption-c" style="display: none;">
            <form action="/en/panel/control/changeNameOption?iddevice={{iddevice}}&key=oc" method="POST">
                <h1>Change name to 'OptionC'</h1>
                <input type="text" name="valueField" placeholder="set name" value="{{deviceOptions.0.optionC_tag}}">
                <button type="submit">Send</button>
            </form>
        </section>
        <section id="form-editNameOption-d" style="display: none;">
            <form action="/en/panel/control/changeNameOption?iddevice={{iddevice}}&key=od" method="POST">
                <h1>Change name to 'OptionD'</h1>
                <input type="text" name="valueField" placeholder="set name" value="{{deviceOptions.0.optionD_tag}}">
                <button type="submit">Send</button>
            </form>
        </section>
        <section id="form-editNameOption-e" style="display: none;">
            <form action="/en/panel/control/changeNameOption?iddevice={{iddevice}}&key=oe" method="POST">
                <h1>Change name to 'OptionE'</h1>
                <input type="text" name="valueField" placeholder="set name" value="{{deviceOptions.0.optionE_tag}}">
                <button type="submit">Send</button>
            </form>
        </section>
        <button onclick="formsBackgroundHidden();">Close</button>
    </section>
</section>
<section class="background-panel">
    <section class="background-title">
        <section class="title_id"><p>id: {{iddevice}}</p></section>
        <section class="title-name" onclick="changeTitle()"><p>{{deviceOptions.0.namedevice}}</p></section>
    </section>
    <section class="background-options">
        <section class="background-options-title">
            <h1>switch ON/OFF</h1>
        </section>
        <section class="background-option">
            <button class="edit-name" onclick="editNameOption('A');"><img src="/img/icons/black/quill.png"></button>
            <h2>{{deviceOptions.0.optionA_tag}}</h2>
            {{#if deviceOptions.0.optionA}}
                <form class="btn-option-on" action="/en/panel/control?iddevice={{iddevice}}&optionA=0" method="POST">
                    <button type="submit">ON</button>
                </form>
            {{else}}
                <form class="btn-option-off" action="/en/panel/control?iddevice={{iddevice}}&optionA=1" method="POST">
                    <button type="submit">OFF</button>
                </form>
            {{/if}}
        </section>
        <section class="background-option">
            <button class="edit-name" onclick="editNameOption('B');"><img src="/img/icons/black/quill.png"></button>
            <h2>{{deviceOptions.0.optionB_tag}}</h2>
            {{#if deviceOptions.0.optionB}}
                <form class="btn-option-on" action="/en/panel/control?iddevice={{iddevice}}&optionB=0" method="POST">
                    <button type="submit">ON</button>
                </form>
            {{else}}
                <form class="btn-option-off" action="/en/panel/control?iddevice={{iddevice}}&optionB=1" method="POST">
                    <button type="submit">OFF</button>
                </form>
            {{/if}}
        </section>
        <section class="background-option">
            <button class="edit-name" onclick="editNameOption('C');"><img src="/img/icons/black/quill.png"></button>
            <h2>{{deviceOptions.0.optionC_tag}}</h2>
            {{#if deviceOptions.0.optionC}}
                <form class="btn-option-on" action="/en/panel/control?iddevice={{iddevice}}&optionC=0" method="POST">
                    <button type="submit">ON</button>
                </form>
            {{else}}
                <form class="btn-option-off" action="/en/panel/control?iddevice={{iddevice}}&optionC=1" method="POST">
                    <button type="submit">OFF</button>
                </form>
            {{/if}}
        </section>
        <section class="background-option">
            <button class="edit-name" onclick="editNameOption('D');"><img src="/img/icons/black/quill.png"></button>
            <h2>{{deviceOptions.0.optionD_tag}}</h2>
            {{#if deviceOptions.0.optionD}}
                <form class="btn-option-on" action="/en/panel/control?iddevice={{iddevice}}&optionD=0" method="POST">
                    <button type="submit">ON</button>
                </form>
            {{else}}
                <form class="btn-option-off" action="/en/panel/control?iddevice={{iddevice}}&optionD=1" method="POST">
                    <button type="submit">OFF</button>
                </form>
            {{/if}}
        </section>
        <section class="background-option">
            <button class="edit-name" onclick="editNameOption('E');"><img src="/img/icons/black/quill.png"></button>
            <h2>{{deviceOptions.0.optionE_tag}}</h2>
            {{#if deviceOptions.0.optionE}}
                <form class="btn-option-on" action="/en/panel/control?iddevice={{iddevice}}&optionE=0" method="POST">
                    <button type="submit">ON</button>
                </form>
            {{else}}
                <form class="btn-option-off" action="/en/panel/control?iddevice={{iddevice}}&optionE=1" method="POST">
                    <button type="submit">OFF</button>
                </form>
            {{/if}}
        </section>
    </section>
    <section class="btn-back">
        <button onclick="window.location.href='/en/panel'">Back to panel</button>
    </section>
</section>
{{>en/signature}}